<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="price-container">
        <div class="price-item gdax">
          <div>
            <a href="https://www.gdax.com/trade/BTC-USD" target="_blank">GDAX</a>
          </div>
          <div>
            <span ng-if="gdaxPrice != undefined">{{gdaxPrice}}</span>
            <span ng-if="gdaxPrice == undefined">No data</span>
          </div>
        </div>
        <div class="price-item bitmex">
          <div>
            <a href="https://www.bitmex.com/app/trade/XBTUSD" target="_blank">BITMEX</a>
          </div>
          <div>
            <span ng-if="bitmexPrice != undefined">{{bitmexPrice}}</span>
            <span ng-if="bitmexPrice == undefined">No data</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <nvd3 options="options" data="data"></nvd3>
    </div>
  </div>
</div>
