@gdax-color: rgb(31, 119, 180);
@bitmex-color: rgb(255, 127, 14);

.center-all {
  display: flex;
  justify-content: center;
  align-items: center
}

.price-container {
  height: 650px;
  .center-all;
  flex-direction: column;

  .price-item {
    font-size: 28px;
    margin: 10px;
    color: white;
    .center-all;
    width: 100%;
    height: 300px;
    flex-direction: column;

    a {
      color: white;
      text-decoration: underline;
    }
  }
}

.gdax {
  background-color: @gdax-color;
}

.bitmex {
  background-color: @bitmex-color;
}
